@import url('./components/card.css');
@import url('./components/card-elevated.css');
@import url('./components/card-filled.css');
@import url('./components/card-outlined.css');
@import url('./components/chip.css');
@import url('./components/navigation-drawer.css');
@import url('./components/navigation-drawer-item.css');
@import url('./components/top-app-bar-center-aligned.css');
@import url('./components/top-app-bar-large.css');
@import url('./components/top-app-bar-medium.css');
@import url('./components/top-app-bar-small.css');
@import url('./components/top-app-bar.css');
@import url('./color.css');
@import url('./elevation.css');
@import url('./spacing.css');
@import url('./typography.css');
@import url('./utility.css');

html {
    background: var(--md-surface);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* === DRAWER === */
    --md-drawer-padding: 12px;
    --md-drawer-shape: 0 16px 16px 0;
    --md-drawer-width: 360px;

    --md-drawer-scrim-color: var(--md-neutral-variant-20);
    --md-drawer-scrim-opacity: 0.4;

    /* === DRAWER ITEM === */
    --md-drawer-item-height: 56px;
    --md-drawer-item-icon-size: 24px;
    --md-drawer-item-padding: 0 24px 0 16px;
    --md-drawer-item-padding-between: 12px;
    --md-drawer-item-shape: 28px;

    --md-drawer-item-hover-opacity: 0.16;
    --md-drawer-item-focus-opacity: 0.24;
    --md-drawer-item-pressed-opacity: 0.2;

    /* === TOP APP BAR === */
    --md-top-app-bar-icon-size: 24px;
    --md-top-app-bar-target-size: 48px;
    --md-top-app-bar-avatar-size: 30px;

}
