@import url('./components/badge.css');
@import url('./components/bottom-app-bar.css');
@import url('./components/card.css');
@import url('./components/card-elevated.css');
@import url('./components/card-filled.css');
@import url('./components/card-outlined.css');
@import url('./components/chip.css');
@import url('./components/navigation-drawer.css');
@import url('./components/navigation-drawer-item.css');
@import url('./components/top-app-bar-center-aligned.css');
@import url('./components/top-app-bar-large.css');
@import url('./components/top-app-bar-medium.css');
@import url('./components/top-app-bar-small.css');
@import url('./components/top-app-bar.css');
@import url('./color.css');
@import url('./elevation.css');
@import url('./inset.css');
@import url('./shape.css');
@import url('./spacing.css');
@import url('./typography.css');
@import url('./utility.css');

html {
    background: var(--md-surface);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* === Drawer === */
    --md-drawer-padding: 12px;
    --md-drawer-shape: 0 16px 16px 0;
    --md-drawer-width: 360px;

    --md-drawer-scrim: rgba(0, 0, 0, 0.32);

    /* === Drawer item === */
    --md-drawer-item-height: 56px;
    --md-drawer-item-icon-size: 24px;
    --md-drawer-item-padding: 0 24px 0 16px;
    --md-drawer-item-padding-between: 12px;
    --md-drawer-item-shape: 28px;

    --md-drawer-item-hover-opacity: 0.08;
    --md-drawer-item-focus-opacity: 0.12;
    --md-drawer-item-press-opacity: 0.12;

    /* === Top app bar === */
    --md-top-app-bar-icon-size: 24px;
    --md-top-app-bar-target-size: 48px;
    --md-top-app-bar-avatar-size: 30px;
}

* {
    box-sizing: border-box;
}
