@import url('./components/navigation-drawer.css');
@import url('./components/navigation-drawer-item.css');
@import url('./components/top-app-bar.css');
@import url('./color.css');
@import url('./elevation.css');
@import url('./spacing.css');
@import url('./typography.css');
@import url('./utility.css');

html {
    background: var(--md-surface);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* === BUTTON === */
    --md-button-height: 40px;
    --md-button-icon-size: 18px;
    --md-button-outline-width: 1px;
    --md-button-padding: 0 24px;
    --md-button-padding-between-elements: 8px;
    --md-button-padding-with-icon: 0 24px 0 16px;
    --md-button-shape: 20px;

    --md-button-text-min-width: 48px;
    --md-button-text-padding: 0 12px;
    --md-button-text-padding-with-icon: 0 16px 0 12px;

    --md-button-fab-height: 56px;
    --md-button-fab-icon-size: 24px;
    --md-button-fab-padding: 0;
    --md-button-fab-shape: 16px;
    --md-button-fab-width: 56px;

    --md-button-fab-small-height: 40px;
    --md-button-fab-small-shape: 12px;
    --md-button-fab-small-width: 40px;

    --md-button-fab-large-height: 96px;
    --md-button-fab-large-icon-size: 36px;
    --md-button-fab-large-shape: 28px;
    --md-button-fab-large-width: 96px;

    --md-button-fab-extended-min-width: 80px;
    --md-button-fab-extended-padding: 0 20px;
    --md-button-fab-extended-padding-between-elements: 12px;
    --md-button-fab-extended-padding-with-icon: 0 20px 0 16px;

    /* === DRAWER === */
    --md-drawer-padding: 12px;
    --md-drawer-shape: 0 16px 16px 0;
    --md-drawer-width: 360px;

    --md-drawer-scrim-color: var(--md-neutral-variant-20);
    --md-drawer-scrim-opacity: 0.4;

    /* === DRAWER ITEM === */
    --md-drawer-item-height: 56px;
    --md-drawer-item-icon-size: 24px;
    --md-drawer-item-padding: 0 24px 0 16px;
    --md-drawer-item-padding-between: 12px;
    --md-drawer-item-shape: 28px;

    --md-drawer-item-hover-opacity: 0.16;
    --md-drawer-item-focus-opacity: 0.24;
    --md-drawer-item-pressed-opacity: 0.2;

    /* === TOP APP BAR === */
    --md-top-app-bar-height: 64px;
    --md-top-app-bar-icon-size: 24px;
    --md-top-app-bar-target-size: 48px;

}
