:host([theme~="fab-extended"]) {
    --height: 56px;
    --icon-size: 24px;
    --min-width: 80px;
    --padding: 0 20px;
    --padding-between-elements: 12px;
    --shape: var(--md-shape-large);
}

:host([theme~="fab-extended"]) [part='prefix'] ::slotted(.material-icons) {
    margin-inline-end: var(--padding-between-elements);
    /* Need has-prefix/has-suffix to skip this */
    margin-inline-start: -4px;
}
