/* Common for all FAB buttons */
:host([theme*="fab"]) {
    --background: var(--md-primary-container);
    --color: var(--md-on-primary-container);
    --elevation: var(--md-elevation-3);

    --hover-background: var(--md-on-primary-container);
    --hover-elevation: var(--md-elevation-4);
    --focus-background: var(--md-on-primary-container);
    --focus-elevation: var(--md-elevation-3);
    --press-background: var(--md-on-primary-container);
    --press-elevation: var(--md-elevation-3);
}

:host([theme~="fab"]) {
    --height: 56px;
    --icon-size: 24px;
    --padding: 0;
    --shape: 16px;
    --width: 56px;
}
