:host([theme~="fab-small"]) {
    --background: var(--md-primary-container);
    --color: var(--md-on-primary-container);
    --elevation: var(--md-elevation-3);
    --height: 40px;
    --icon-size: 24px;
    --padding: 0;
    --shape: 12px;
    --width: 40px;

    --hover-background: var(--md-on-primary-container);
    --hover-elevation: var(--md-elevation-4);
    --focus-elevation: var(--md-elevation-3);
    --pressed-elevation: var(--md-elevation-3);
}
