:host([theme~="text"]) {
    --color: var(--md-primary);
    --min-width: 48px;
    --padding: 0 12px;

    --disabled-background: none;
    --hover-background: var(--md-primary);
    --focus-background: var(--md-primary);
    --press-background: var(--md-primary);
}

:host([theme~="text"]) [part='prefix'] ::slotted(.material-icons) {
    margin-inline-start: 0;
}
