:host([theme~="elevated"]) {
    --background: var(--md-surface);
    --color: var(--md-primary);
    --elevation: var(--md-elevation-1);

    --hover-background: var(--md-primary);
    --hover-elevation: var(--md-elevation-2);
    --focus-background: var(--md-primary);
    --focus-elevation: var(--md-elevation-1);
    --pressed-background: var(--md-primary);
    --pressed-elevation: var(--md-elevation-1);
}
