:host([theme~="filled-tonal"]) {
    --background: var(--md-secondary-container);
    --color: var(--md-on-secondary-container);

    --hover-background: var(--md-on-secondary-container);
    --hover-elevation: var(--md-elevation-1);
    --focus-elevation: none;
    --pressed-elevation: none;
}
