:host([theme~="outlined"]) {
    --color: var(--md-primary);
    --outline: 1px solid var(--md-outline);

    --disabled-background: none;
    --disabled-outline-color: var(--md-on-surface);
    --hover-background: var(--md-primary);
    --focus-outline-color: var(--md-primary);
    --pressed-outline-color: var(--md-outline);
}
