.chip {
    position: relative;
}

.chip vaadin-button[theme~="assist"] {
    --padding: 0 34px 0 12px;
}

.chip[theme~="icon"] vaadin-button[theme~="assist"] {
    --padding: 0 34px 0 16px;
}

.chip[theme~="avatar"] vaadin-button[theme~="assist"] {
    --icon-size: 24px;
    --padding: 0 34px 0 12px;
    --shape: var(--md-shape-large);
}

.chip[theme~="avatar"] vaadin-button[theme~="assist"] img {
    border-radius: 50%;
}

.chip[theme~="selected"] vaadin-button[theme~="assist"] {
    --background: var(--md-secondary-container);
    --disabled-background: var(--md-on-surface);
    --outline: none;
}

.chip[theme~="selected"] vaadin-button {
    --color: var(--md-on-secondary-container);
}

.chip vaadin-button[theme~="icon"] {
    --disabled-background: none;
    --height: 32px;
    --icon-size: 18px;
    --padding: 0 8px;
    --width: auto;
    position: absolute;
    right: 0;
}

.chip vaadin-button[theme~="icon"]::before,
.chip vaadin-button[theme~="icon"]::after {
    inset: 4px 5px;
}
