:host {
    --color: var(--md-on-surface);
    --height: 48px;
    --icon-size: 24px;
    --padding: 0;
    --width: 48px;

    --hover-background: var(--md-on-surface-variant);
    --focus-background: var(--md-on-surface-variant);
    --press-background: var(--md-on-surface-variant);

    height: var(--height);
    width: var(--width);
}

:host::before,
:host::after {
inset: 4px;
}

/* Reset default styles */
[part='icon'],
[part='icon']::before {
    background: none;
    height: auto;
    position: relative;
    top: auto;
    vertical-align: bottom;
    width: auto;
}
[part='icon']::after {
    content: none;
}

/* Icon */
[part='icon']::before {
    content: "menu";
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: var(--icon-size);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
