:host {

}

:host::before, :host::after {
    inset: 4px;
}

/* Reset default styles */
[part='icon'],
[part='icon']::before {
    background: none;
    height: auto;
    position: relative;
    top: auto;
    width: auto;
}
[part='icon']::after {
    content: none;
}

/* Icon */
[part='icon'] {
    display: flex;
}
[part='icon']::before {
    content: "menu";
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: var(--icon-size);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
