@import "input-container-filled.css";
@import "input-container-outlined.css";

:host {
    box-sizing: border-box;
    height: var(--height);
    padding: var(--padding);
    position: relative;
}

/* Input */
::slotted(input) {
    caret-color: var(--md-primary);
    color: var(--md-on-surface);
    font-size: var(--md-body-large-size);
    font-weight: var(--md-body-large-weight);
    letter-spacing: var(--md-body-large-tracking);
    line-height: var(--md-body-large-line-height);
    text-overflow: ellipsis;
}
