:host {
    --padding-between-elements: 10px;
}

[part='group-field'] {
    display: flex;
    flex-direction: column;
}

[part='label'] {
    font-size: var(--md-label-large-size);
    font-weight: var(--md-label-large-weight);
    letter-spacing: var(--md-label-large-tracking);
    line-height: var(--md-label-large-line-height);
    margin-bottom: var(--padding-between-elements);
}
