:host([theme~="filled"]) {
    --background: var(--md-surface-variant);
    --hover-background: var(--md-on-surface);
    --hover-opacity: var(--md-hover-opacity);
    --indicator: inset 0 -1px 0 0 var(--md-on-surface-variant);
    --indicator-opacity: 1;
    --leading-icon-size: 20px;
    --leading-icon-offset: 48px;
    --opacity: 1;
    --padding: 24px 16px 8px 16px;
    --shape: 4px 4px 0 0;
}

:host([theme~="filled"][leading-icon]) {
    --padding: 24px 16px 8px var(--leading-icon-offset);
}

:host([theme~="filled"][clear-button-visible]) {
    --padding: 24px var(--trailing-icon-offset) 8px 16px;
}

:host([theme~="filled"][leading-icon][clear-button-visible]) {
    --padding: 24px var(--trailing-icon-offset) 8px var(--leading-icon-offset);
}

/* Label */
:host([theme~="filled"][focused]) [part='label'],
:host([theme~="filled"][has-value]) [part='label'],
:host([theme~="filled"][prefix]) [part='label'],
:host([theme~="filled"][suffix]) [part='label'] {
    top: 8px;
}

/* Hover */
:host([theme~="filled"]) slot[name='input']::before {
    content: "";
    inset: 0;
    pointer-events: none;
    position: absolute;
}

:host([theme~="filled"]):hover slot[name='input']::before {
    background: var(--hover-background);
    opacity: var(--hover-opacity);
}

:host([theme~="filled"]):hover {
    --indicator: inset 0 -1px 0 0 var(--md-on-surface);
}

/* Focus */
:host([theme~="filled"][focused]) {
    --indicator: inset 0 -2px 0 0 var(--md-primary);
}

/* Disabled */
:host([theme~="filled"][disabled]) {
    --background: var(--md-on-surface);
    --indicator: inset 0 -1px 0 0 var(--md-on-surface);
    --indicator-opacity: 0.38;
    --opacity: 0.04;
}
