.top-app-bar {
    background: var(--md-surface);
    box-sizing: border-box;
    display: flex;
    height: var(--height);
    position: relative;
    padding: var(--padding);
    width: 100%;
}

/* Title */
.top-app-bar h1 {
    color: var(--md-on-surface);
    font-size: var(--headline-size);
    font-weight: var(--headline-weight);
    letter-spacing: var(--headline-tracking);
    line-height: var(--headline-line-height);
    margin: var(--headline-margin);
}

/* Interactive icons (buttons) */
.top-app-bar .interactive-icons {
    margin-inline-start: auto;
}
