.top-app-bar {
    background: var(--md-surface);
    box-sizing: border-box;
    display: flex;
    height: var(--height);
    position: relative;
    padding: var(--padding);
    width: 100%;
}

/* Navigation icon */
.top-app-bar vaadin-drawer-toggle {
    --color: var(--md-on-surface);
    --height: var(--md-top-app-bar-target-size);
    --icon-size: var(--md-top-app-bar-icon-size);
    --padding: 0;
    --width: var(--md-top-app-bar-target-size);

    --hover-background: var(--md-primary);
}

/* Title */
.top-app-bar h1 {
    color: var(--md-on-surface);
    font-size: var(--headline-size);
    font-weight: var(--headline-weight);
    letter-spacing: var(--headline-tracking);
    line-height: var(--headline-line-height);
    margin: var(--headline-margin);
}

/* Interactive icons (buttons) */
.top-app-bar .interactive-icons {
    margin-inline-start: auto;
}
.top-app-bar .interactive-icons vaadin-button {
    --color: var(--md-on-surface);
    --height: var(--md-top-app-bar-target-size);
    --icon-size: var(--md-top-app-bar-icon-size);
    --padding: 0;
    --width: var(--md-top-app-bar-target-size);

    --hover-background: var(--md-primary);
}
